@model PartyFinderWEB.Models.EventViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="testForms">
        @using (Html.BeginForm("GetEvents", "Event", FormMethod.Post))
        //@Model Event
        {
          <div class="eventForm">
             @Html.LabelFor(m => m.EventName);
             @Html.LabelFor(m => m.EventCapacity);
             @Html.LabelFor(m => m.StartDateTime);
             @Html.LabelFor(m => m.EndDateTime);
             @Html.LabelFor(m => m.Description);
            <input type="submit" value="Like"/>
            <input type="submit" value="Dislike"/>
            </div>
        }

    </div>



@*<div class="tbg">
  <div class="theader">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="tlogo">
       <! -- Logo placeholder, skal self være et uden baggrund -- >
      <img src="../images/swipeevent/partyfinderlogo.png" alt="PartyFinder Logo" title="PartyFinder Logo" width="450" height="90" />
    </div>
  </div>
  <div class="tbgwrap">
    <div class="tphoto">
      <div class="tname" asp-area="" asp-controller="" asp-action="">Jane Doe, <span class="age">27</span></div>
      <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div>
    </div>
    <div class="tcontrols">
      <div class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="ti"><i class="fa fa-info" aria-hidden="true"></i></div>
      <div class="tyes"><i class="fa fa-heart" aria-hidden="true"></i></div>
    </div>
  </div>
</div>*@
