@model MatchViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@*Virker ikke endnu*@
<div class="testForms">
    @using (Html.BeginForm("GetEvent", "Match", new { Model }, FormMethod.Get)) {
    //@Model Event
        
          <table class="eventForm">
              <tr>
                  <th>
                    @Html.DisplayFor(m => m.EventName)
                  </th>
                  <th>
                    @Html.DisplayFor(m => m.EventCapacity)
                  </th>
                  <th>
                    @Html.DisplayFor(m => m.StartDateTime)
                  </th>
                  <th>
                    @Html.DisplayFor(m => m.EndDateTime)
                  </th>
                  <th>
                    @Html.DisplayFor(m => m.Description)
                  </th>
                 @* <th>
                    @Html.DisplayFor(m => m.calculateCount())
                  </th>*@
            @Html.EditorFor(m => m.IsMatched)
            <input type="submit" value="Dislike"/>
            </table>
        }

    </div>



@*<div class="tbg">
  <div class="theader">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="tlogo">
       <! -- Logo placeholder, skal self være et uden baggrund -- >
      <img src="../images/swipeevent/partyfinderlogo.png" alt="PartyFinder Logo" title="PartyFinder Logo" width="450" height="90" />
    </div>
  </div>
  <div class="tbgwrap">
    <div class="tphoto">
      <div class="tname" asp-area="" asp-controller="" asp-action="">Jane Doe, <span class="age">27</span></div>
      <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div>
    </div>
    <div class="tcontrols">
      <div class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="ti"><i class="fa fa-info" aria-hidden="true"></i></div>
      <div class="tyes"><i class="fa fa-heart" aria-hidden="true"></i></div>
    </div>
  </div>
</div>*@
